body{
    background-image: linear-gradient(to right, #d53968,#d53968,#d56C5D, #D76C5D,  #D8805A,#D99157, #D99556, #D99556);
}
header{
    margin-left: 5%;
    border-bottom: 1px solid #FFF;
}
.container {
    display: flex;
}
.cabecario{
    display: flex; 
    align-items: center;
}
.h1{
    color: #FFF;
    margin-right: 50%;
}
.links{
    display: flex;
    font-size: 18px;
    margin-left: 90%;
}
a{
    text-decoration: none;
    color: #000;
    margin: 7%;
}
.active{
    font-size: 20px;
    font-weight: bold;
}
.action{
    border: none;
    border-radius: 35px;
    width: 111px;
    height: 56px;
    padding-left: 8%;
    padding-right: 8%;
    margin-left: 7%;
    font-size: 16px;
    background-color: #F5E6D4;
}
.action:hover{
    background-color: #d53968;
}
.centro{
    display: flex;
    float: left;
}
.conteudo{
    color: #FFF;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 147px;
    justify-content: center;
}
.conteudo h1{
    font-size: 60px;
    margin-top: -10px;
    margin-bottom: -5px;
}
.centro img{
    display: flex;
}
h3{
    font-size: 19px;
}
.img-centro{
    animation-name: animacao;
    animation-duration: 2s;
}
@keyframes animacao {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}